* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
}

header {
  display: flex;
  width: 90%;
  margin: auto;
  height: 10vh;
  align-items: center;
}

.logo-container,
.nav-links,
.cart {
  display: flex;
}

.logo-container {
  flex: 1;
  align-items: center;
}

.logo {
  font-weight: 400;
  font-size: 16px;
  /* letter-spacing: 1px; */
  margin: 6px;
  color: #5f5f79;
}

.logo-container img {
  width: 20px;
}

nav {
  flex: 2;
}

.cart {
  flex: 1;
  justify-content: flex-end;
}

.cart img {
  width: 30px;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: #5f5f79;
  font-size: 16px;
  text-decoration: none;
}

.presentation {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 90vh;
  align-items: center;
}

.introduction {
  flex: 1;
}

.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #585772;
}

.cta {
  padding: 50px 0px 0px 0px;
}

.cta-select {
  border: 2px solid#7fa1e5;
  background: transparent;
  color: #7fa1e5;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}

.cta-add {
  background: #7fa1e5;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  color: white;
  margin: 0px 0px 0px 30px;
}

.cover {
  flex: 1;
  height: 90vh;
  vertical-align: center;
}

.cover img {
  filter: drop-shadow(0px 5px 3px grey);
  /* ADDING SHADOW UNDER PNG! */
  margin: 0px 0px 0px 30px;
  animation: drop 1.5s ease;
}

#phone {
  position: absolute;
  top: 30vh;
  height: 60%;
  z-index: 2;
}

#tablet {
  filter: blur(2px);
  position: absolute;
  top: 10vh;
  height: 90%;
  z-index: 1;
}

.big {
  position: absolute;
  top: -110px;
  right: -200px;
  z-index: -1;
  /* MOVES THE IMAGE TO THE BACK LIKE A LAYER! */
  width: 60vw;
  opacity: 0.4;
}

.mid {
  position: absolute;
  top: 30%;
  right: 25%;
  z-index: -1;
  width: 30vw;
  opacity: 0.4;
}

.small {
  position: absolute;
  bottom: -10%;
  left: 20%;
  z-index: -1;
  height: 30%;
  opacity: 0.6;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1024px) {
  .presentation {
    flex-direction: column;
    clear: left;
  }

  .introduction {
    margin-top: 5vh;
  }

  .intro-text h1 {
    font-size: 30px;
    text-align: сenter;
  }

  .intro-text p {
    font-size: 18px;
  }

  #heading {
    text-align: center;
  }
  .cover {
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 0;
    margin: 0;
  }
  #phone {
    position: relative;
    height: 40%;
    z-index: 2;
    align-items: center;
    float: left;
    top: 10vh;
  }

  #tablet {
    position: relative;
    height: 60%;
    z-index: 1;
  }
}

@media screen and (max-width: 360px) {
}
